body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  position: absolute;
  top: 50px;
  left: 60%;
}

.bottom-cloud {
  position: absolute;
  left: 35%;
  bottom: 300px;
}

.my-picture {
  border-radius: 100%;
}

.skill-image {
  width: 100px;
  size: 100px;
}
